<div class="main-content">
	<div class="row">
		<div class="col-lg-6 col-centered-left">
			<div class="signup-form">  
				<% if cookies[:saved_subscriber] %>
					Thanks for signing up!
				<% else %>
					<h1 class="white">Sign up for our service here!</h1>
					<%= form_for @subscriber do |f| %>
						<%= f.email_field :email, placeholder: "Email", class: "form-email" %><br>
						<%= f.select :party, ["Democrat", "Republican", "Libertarian", "Green", "Independent", "No Party"], prompt: "Which Party are you with?" %><br>
						<%= f.submit class: "form-submit" %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-lg-6 col-centered-right">
			<h1 class="white">Here's How it Works</h1>
				<div class="how-it-works">
					<br>
					<h3>First Step: Sign Up!</h3>
					<h3>Second Step: Receive great news!</h3> 
				</div>
		</div>
	</div>
</div>
