/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    height: 100%;
    margin: 0;
	font-family: 'Cinzel', serif;
}

body {
	height: 100%;
    margin: 0;
	font-family: 'Cinzel', serif;
	background-size: cover;
}

.notice {
}

hr {
	margin-bottom: 15px !important;
}

/* Welcome page section */
 #site-header {
	background-color: #262626;
    overflow: hidden;
    height: 100%;
}

.site-header-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('flag01');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 2% 0;
    position: relative;
    height: 100%;
}

.site-branding-wrapper {
    position: relative;
    z-index: 2;
    text-align: center;
}

.site-branding {
    display: inline-block;
    padding: 1.7em;
    width: 40%;
    padding-top: 8%;
}

a.navbar-brand {
	color: white !important;
	font-size: 22px;
}

ul.nav.navbar-nav a {
	color: white !important;
}

.navbar-header {
	padding-left: 10px;
	padding-right: 20px;
}

.navbar-btn {
	float: right;
	padding-right: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	color: white;
}

a.btn-primary {
	padding: 6px 20px 6px 20px;
	border-radius: 70px;
}

.img-logo {
	height: 160px;
}
#main-menu .menu {
    margin: 0;
    padding: 0 0 0 1.5em;
}
#main-menu li {
	float: left;
    list-style: none;
    font-size: 14px;
    margin: 0 1.5em;
}
#main-menu li a {
	color: white;
}
#main-menu li a:hover {
	color: #BF1E2D;
	background-color: transparent;
	cursor: pointer;
}
.menu-wrapper {
	display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 30px 20px;
    position: relative;
}
.main-content {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.col-centered-left {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('firework');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	text-align: center;
	height: 500px;
}
.signup-form {
	display: inline-block;
    width: 70%;
    padding-top: 20%;
}
.col-centered-right {
	background-color: #BF1E2D;
	text-align: center;
	height: 500px;
}
.how-it-works {
	background-color: white;
	color: black;
	width: 80%;
    border-radius: 5px;
    height: 400px;
    margin: 0 auto;
}

/* ----------------- Form Styling here -------------- */

.form-email {
    border-radius: 4px;
    width: 50%;
    outline: none;
    margin-top: 2%;
}
#subscriber_party {
	width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-top: 2%;
}
.form-submit {
	margin-top: 2%;
	background-color: #BF1E2D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Universal */
.center-text {
	text-align: center;
}
.white {
	color: white;
}
.floatr {
	float: right;
}
.floatl {
	float: left;
}